.DS_Store
frontend/public/assets/pets/crow_pixel.jpg
frontend/public/assets/pets/panther_pixel.jpg
frontend/public/assets/pets/snake_pixel.jpg
frontend/public/assets/pets/spider_pixel.jpg
frontend/public/assets/pets/swan_pixel.jpg
